@model PreventivePlanViewModel

<script>
    DetailPreventivePlan.init("@Model.Id", @ViewBag.SelectTabId);
</script>

<style>

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #999999;
        height: 31px;
        padding: 6px;
    }

    .k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }

    #tabStripDetailPreventivePlan {
        border-width: 0;
    }

        #tabStripDetailPreventivePlan .k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
            font-weight: bold;
            font-size: 15px;
            padding: 0.8em;
        }

        #tabStripDetailPreventivePlan .k-panelbar .k-tabstrip-top .k-tabstrip-items .k-state-active, .k-tabstrip-top .k-tabstrip-items .k-state-active {
            border-bottom-width: 6px;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }

        #tabStripDetailPreventivePlan .k-animation-container, .k-animation-container *, .k-animation-container ::after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget ::before {
            box-sizing: border-box;
        }

    .k-multiselect-wrap {
        height: 31px;
    }

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #555555;
    }
</style>

<div class="row" id="pageDetailPreventivePlan" style="margin: 8px">

    <span id="spanNotification" style="display: none;"></span>

    <div class="row">
        <H1 id="title">Gestión de Empresas</H1>
    </div><br />

    <div id="navigation" class="row">
        <div class="col-sm-12">

            <!-- Breadcrumb 2 -->
            <ol class="breadcrumb bc-2">
                <li>
                    <a onclick="DetailPreventivePlan.goToPreventivePlans()" style="cursor: pointer;">
                        <i class="fa fa-cogs"></i>
                        Gestión Preventiva
                    </a>
                </li>
                <li class="active">
                    <a onclick="DetailPreventivePlan.goToDetailPlanPreventive()" style="cursor: pointer;">
                        <strong>Detalle Plan Preventivo</strong>
                    </a>
                </li>
            </ol>

        </div>
    </div>

    @{
        var descriptionContract = string.Format(" [Contrato del {0} al {1}]", Model.DocumentBeginDate.ToShortDateString(), Model.DocumentEndDate.ToShortDateString());
    }

    <div class="row">
        <div class="col-sm-12">

            <div class="tile-stats tile-blue">
                <div class="num">
                    @Model.CompanyEnrollment
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <h3>@Model.CompanyName <small style="color: white">@descriptionContract</small></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />

    @if (ViewBag.Error != null)
    {
        <div id="errorFromBack" class="alert alert-danger alert-dismissable" style="">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                @foreach (var error in ViewBag.Error)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    }

    <br />

    <div>
        <div class="row">
            <label class="col-sm-4 col-sm-offset-2" style="color: #4B4B4B; font-size: 15px; margin-top: 7px;">Seleciona una plantilla para añadir al Plan Preventivo</label>
            <div class="col-sm-3">
                @(Html.Kendo().DropDownList()
                              .Name("inputTemplatePreventivePlan")
                              .OptionLabel("-- Seleccionar --")
                              .DataTextField("Name")
                              .DataValueField("Id")
                              .DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Action("GetTemplatesPreventivePlans", "PreventivePlan");
                                  });
                              })
                              .Events(e =>
                              {
                                  e.Change("DetailPreventivePlan.onChangeTemplate");
                              })
                              .HtmlAttributes(new { style = "width: 100%; margin-left: -50px;" }))
            </div>
            <div class="col-sm-2">
                <input type="button" id="btnAddTemplate" value=" Agregar nuevo" class="btn btn-prevea" onclick="DetailPreventivePlan.addTemplate();"/>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-12">

            <div id="tabStripDetailPreventivePlan"></div>

        </div>
    </div>

</div>
