@model Company

<style>
    .k-animation-container, .k-animation-container *, .k-animation-container ::after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget ::before {
        box-sizing: initial;
    }
    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #999999;        
    }

    .k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }
</style>

<script>
    AddCompany.init();
</script>

<div class="row" id="pageAddCompany" style="margin: 8px">

    <div class="row">
        <H1>Herramienta Comercial</H1>
    </div><br />

    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb bc-2">
                <li class="active">
                    <a id="br-companies" onclick="AddCompany.goToCompanies()" style="cursor: pointer;">
                        <i class="icon-folder"></i>
                        Gestión de Empresas
                    </a>
                </li>
                <li class="active">
                    <a id="br-company-addCompany" onclick="AddCompany.goToAddCompany()" style="cursor: pointer;">
                        <strong>Agregar Empresa</strong>
                    </a>
                </li>
            </ol>
        </div>
    </div>

    @if (ViewBag.Error != null)
    {
        <div id="errorFromBack" class="alert alert-danger alert-dismissable" style="">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                @foreach (var error in ViewBag.Error)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    }

    <div id="errorFromFront" class="alert alert-danger alert-dismissable" style="display: none">
    </div>

    <div class="well well-sm" id="information">
        <h4>Por favor rellena los datos del documento</h4>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <blockquote class="blockquote-default">
                @using (Ajax.BeginForm("SaveCompany", "Company", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "framePpal"
                }, new { id = "formAddCompany" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Razón Social</label>
                            <label class="col-sm-4 control-label">CIF/NIF</label>
                            <label class="col-sm-4 control-label">Actividad</label>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.Name, new { @id = "textBoxName", @class = "form-control", style = "width:100%", placeholder = "Razón Social" })
                            </div>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.NIF, new { @id = "textBoxNIF", @class = "form-control", style = "width:100%", placeholder = "CIF/NIF" })
                            </div>

                            <div class="col-sm-4">
                                @(Html.Kendo()
                                      .DropDownListFor(model => model.CnaeId)
                                      .Name("CnaeId")
                                      .OptionLabel("-- Seleccionar --")
                                      .DataTextField("Text")
                                      .DataValueField("Value")
                                      .Filter("contains")
                                      .MinLength(3)
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetCnaes", "Company");
                                          })
                                              .ServerFiltering(false);
                                      })
                                      .HtmlAttributes(new { style = "width: 100%" }))
                            </div>

                        </div>
                    </div>

                        <br />

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-8 control-label">Dirección</label>
                                <label class="col-sm-4 control-label">Provincia</label>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Address, new { @id = "textBoxAddress", @class = "form-control", style = "width:100%", placeholder = "Dirección" })
                                </div>

                                <div class="col-sm-4">
                                </div>

                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.Province, new { @id = "textBoxProvince", @class = "form-control", style = "width:100%", placeholder = "Provincia" })
                                </div>

                            </div>
                        </div>

                        <br />
                        <br />
                        <br />


                        <div class="form-actions">
                            <input type="submit" id="btnValidate" value="Guardar" class="btn btn-prevea btn" />
                            <input type="button" id="btnCancel" value="Cancelar" class="btn" />
                        </div>

                }

            </blockquote>

        </div>
    </div>

</div>

<br />

