@model RiskEvaluationViewModel

<script>
    IndividualProtectionEquipments.init(@Model.Id);
</script>

<div class="row">
    <div class="col-sm-12">
        @using (Ajax.BeginForm("UpdateRiskEvaluation", "Tecniques", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "framePpalIndividualProtectionEquipments"
        }, new { id = "formIndividualProtectionEquipments" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.TextAreaFor(model => model.IndividualProtectionEquipments, new
            {
                id = "editorIndividualProtectionEquipments",
                style = "height: 57vh; width: 100%",
                rows = 10,
                cols = 30
            })

            <div class="col-sm-12" style="margin-left: -15px; margin-top: 10px">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.WorkStationId)
                @Html.HiddenFor(model => model.DeltaCodeId)
                @Html.HiddenFor(model => model.Probability)
                @Html.HiddenFor(model => model.Severity)
                @Html.HiddenFor(model => model.RiskValue)
                @Html.HiddenFor(model => model.Priority)
                @Html.HiddenFor(model => model.RiskDetected)
                @Html.HiddenFor(model => model.CollectiveProtectionEquipments)
                @Html.HiddenFor(model => model.SelectTab)

                <input type="submit" id="btnValidateIndividualProtectionEquipments" value="Guardar" class="btn btn-prevea btn" />

            </div>
        }

    </div>

</div>

