@model RiskEvaluation

<script>
    RiskDetected.init(@Model.Id);
</script>

<div class="row">
    <div class="col-sm-12">
        @using (Ajax.BeginForm("UpdateRiskEvaluation", "Tecniques", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "framePpal"
        }, new { id = "formGeneralDataCompany" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.TextAreaFor(model => model.RiskDetected, new
            {
                id = "editorRiskDetected",
                style = "height: 57vh; width: 100%",
                rows = 10,
                cols = 30
            })

            <div class="col-sm-12" style="text-align: right; margin-left: -2px; margin-top: 10px">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.WorkStationId)
                @Html.HiddenFor(model => model.DeltaCodeId)
                @Html.HiddenFor(model => model.Probability)
                @Html.HiddenFor(model => model.Severity)
                @Html.HiddenFor(model => model.RiskValue)
                @Html.HiddenFor(model => model.Priority)

                <input type="submit" id="btnValidate" value="Guardar" class="btn btn-prevea btn" />

            </div>
        }

    </div>

</div>

