<script>
    RiskEvaluation.init('@ViewBag.CnaeId', '@ViewBag.WorkStationId');
</script>

<div class="row" id="pageHistoricTecniques" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Técnicas</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li>
                        <a id="br-tecniques|workStations" onclick="RiskEvaluation.goToWorkStations()" style="cursor: pointer;">
                            <i class="glyphicon glyphicon-asterisk"></i>
                            Puestos de Trabajo
                        </a>
                    </li>
                    <li class="active">
                        <a id="br-tecniques|riskEvaluation" onclick="RiskEvaluation.goToRiskEvaluation('@ViewBag.CnaeId', '@ViewBag.WorkStationId')" style="cursor: pointer;">
                            <i class="fa fa-flash"></i>
                            <strong>Evaluación de Riesgos</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <H3>@ViewBag.WorkStation</H3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="gridRiskEvaluation" style="height: 73vh;"></div>
            </div>
        </div>
    </div>

</div>


