@model RequestMedicalExaminationEmployeeViewModel

<script>
    DetailMedicalExamination.init(@Model.Id, @ViewBag.SelectTabId, @Model.RequestMedicalExaminationEmployeeStateId);
</script>

<style>

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #999999;
        height: 31px;
        padding: 6px;
    }

    .k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }

    #tabStripDetailMedicalExamination {
        border-width: 0;
    }

    #tabStripDetailMedicalExamination .k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
        font-weight: bold;
        font-size: 15px;
        padding: 0.8em;
    }

    #tabStripDetailMedicalExamination .k-panelbar .k-tabstrip-top .k-tabstrip-items .k-state-active, .k-tabstrip-top .k-tabstrip-items .k-state-active {
        border-bottom-width: 6px;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    #tabStripDetailMedicalExamination .k-animation-container, .k-animation-container *, .k-animation-container ::after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget ::before {
        box-sizing: border-box;
    }

    .k-multiselect-wrap {
        height: 31px;
    }

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #555555;
    }

    #circleError {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #CC2424
    }

    #circleWarning {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #F89406
    }

    #circleSuccess {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #00A651
    }
</style>

<div class="row" id="pageDetailMedicalExamination" style="margin: 8px">

    <div class="row">
        <H1 id="title">Reconocimientos Médicos</H1>
    </div><br />

    <div id="navigation" class="row">
        <div class="col-sm-12">

            <!-- Breadcrumb 2 -->
            <ol class="breadcrumb bc-2">
                <li class="active">
                    <a onclick="DetailMedicalExamination.goToDoctorWorkSheet()" style="cursor: pointer;">
                        <i class="icon-folder"></i>
                        Agenda
                    </a>
                </li>
                <li class="active">
                    <a onclick="DetailMedicalExamination.goToMedicalExamination()" style="cursor: pointer;">
                        <strong>Reconocimiento Médico</strong>
                    </a>
                </li>
            </ol>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            
            <div class="tile-stats tile-blue">
                <div class="row">                    
                    <div class="num col-sm-8" style="margin-left: 15px;">
                        @Model.EmployeeDNI
                    </div>  
                    <div class="col-sm-4" id="iconMedicalExaminationState" style="margin-left: -15px;"></div>                  
                </div>
     
                <div class="row">
                    <div class="col-sm-2">
                        <h3>@Model.EmployeeName</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-12">

            <div id="tabStripDetailMedicalExamination"></div>

        </div>
    </div>

</div>

