@model RequestMedicalExaminationEmployee

<script>
    TemplateMedicalExamination.init(@Html.Raw(Json.Encode(Model)));
</script>

<div id="pageMedicalExamination" style="font-size: 14px;">
    <div class="row">
        <div class="col-xs-8">
            @{
                var fullName = string.Empty;
                var collegiateNumber = string.Empty;
                var doctorsMedicalExaminationEmployee = Model.DoctorsMedicalExaminationEmployee.FirstOrDefault();
                if (doctorsMedicalExaminationEmployee != null)
                {
                    if (doctorsMedicalExaminationEmployee.Doctor != null)
                    {
                        fullName = string.Format("{0} {1}", doctorsMedicalExaminationEmployee.Doctor.FirstName.ToUpper(), doctorsMedicalExaminationEmployee.Doctor.LastName.ToUpper());
                        collegiateNumber = doctorsMedicalExaminationEmployee.Doctor.CollegiateNumber;
                    }
                }
            }

            Dr/a. @fullName
        </div>
        <div class="col-xs-4" style="text-align: right;">
            @DateTime.Now.ToLongDateString()
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            Nº Colegiado: @collegiateNumber
        </div>
        <div class="col-xs-4" style="text-align: right;">
            Nº Historia: &nbsp;@Model.MedicalExamination.Enrollment
        </div>
    </div>

    <br />
    <br />
    <br />

    @{
        var nameEmployee = string.Empty;
        if (!string.IsNullOrEmpty(Model.Employee.User.LastName))
        {
            nameEmployee += string.Format("{0}, ", Model.Employee.User.LastName.ToUpper());
        }
        if (!string.IsNullOrEmpty(Model.Employee.User.FirstName))
        {
            nameEmployee += Model.Employee.User.FirstName.ToUpper();
        }
    }
    <div class="row">
        <div class="col-xs-6">
            @nameEmployee
        </div>
        <div class="col-xs-6" style="text-align: left;">
            @Model.MedicalExamination.Enrollment
        </div>
    </div>

    @{
        var nameClinic = string.Empty;
        if (!string.IsNullOrEmpty(Model.Clinic.Address))
        {
            nameClinic += string.Format("{0}, ", Model.Clinic.Address.ToUpper());
        }
        if (!string.IsNullOrEmpty(Model.Clinic.Province))
        {
            nameClinic += Model.Clinic.Province.ToUpper();
        }
    }

    <div class="row">
        <div class="col-xs-6">
            @nameClinic
        </div>
        <div class="col-xs-6" style="text-align: left;">
            @Model.Employee.User.DNI
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="font-weight: bold;">
            @Model.Clinic.Name
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-6 col-xs-6" style="font-weight: bold;">
            @Model.Date.ToLongDateString()
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12">
            Se trata de un reconocimiento médico de Vigilancia de la Salud del tipo Periódico en el que se estudia, de forma específica, las posibles alteraciones que sobre su salud pueden producir los riesgos inherentes a su puesto de trabajo. Los resultados obtenidos se relacionan, exclusivamente, con dichos riesgos laborales. Pueden existir otras alteraciones en su salud de origen no laboral que no son estudiadas en este reconocimiento.
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            HISTORIA LABORAL
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Puesto de trabajo actual
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Model.Employee.User.WorkStation
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Tiempo de exposición a los Riesgos
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            Tiempo de exposición a los riesgos:
        </div>
        <div id="me-1" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-1">
            H/S
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Antigüedad en el puesto y en la empresa
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            Antigüedad en el puesto y en la empresa: @Model.Employee.User.ChargeDate.ToShortDateString()
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Se encuenta actualmente en situación de baja (IT)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            ¿Se encuentra actualmente en situación de baja laboral (IT)?
        </div>
    </div>

    <div class="row">
        <div id="me-2" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            REGISTRO DE SINIESTRALIDAD LABORAL
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            ¿Ha sufrido desde el último reconocimiento algún accidente de trabajo?
        </div>
    </div>

    <div class="row">
        <div id="me-3" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            REGISTRO DE ENFERMEDADES PROFESIONALES
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            ¿Le ha sido diagnosticada alguna enfermedad profesional desde el último reconocimiento?
        </div>
    </div>

    <div class="row">
        <div id="me-4" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Historia Laboral anterior (puesto y meses)
        </div>
    </div>

    <div class="row">
        <div id="me-5" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            INFORME DE ANAMNESIS
        </div>
    </div>

    <br />

    @{
        var age = DateTime.Now.Year - Model.Employee.User.BirthDate.Year;
        var actual = Convert.ToInt32(DateTime.Now.ToString("MMdd"));
        var employee = Convert.ToInt32(Model.Employee.User.BirthDate.ToString("MMdd"));

        if (actual <= employee)
        {
            age--;
        }
    }

    <div class="row">
        <div class="col-xs-2">
            Se trata de un/a
        </div>
        <div id="me-6" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-1">
            de&nbsp;@age&nbsp;años
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Preguntado por los antecedentes familiares el paciente refiere
        </div>
    </div>

    <div class="row">
        <div id="me-7" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Como antecedentes personales de interés el paciente manifiesta
        </div>
    </div>

    <div class="row">
        <div id="me-8" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            A la pregunta sobre su hábito tabáquico refiere ser
        </div>
    </div>

    <div class="row">
        <div id="me-9" class="col-xs-3"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Respecto al consumo de bebidas alcohólicas dice
        </div>
    </div>

    <div class="row">
        <div id="me-10" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Respecto a los hábitos alimentarios manifiesta
        </div>
    </div>

    <div class="row">
        <div id="me-11" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En cuanto a la actividad física dice
        </div>
    </div>

    <div class="row">
        <div id="me-12" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En relación con los hábitos del sueño afirma
        </div>
    </div>

    <div class="row">
        <div id="me-13" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            A la pregunta sobre si realiza revisiones odontológicas, indica
        </div>
    </div>

    <div class="row">
        <div id="me-14" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En cuanto a las características de su hábito intestinal indica
        </div>
    </div>

    <div class="row">
        <div id="me-15" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            A la pregunta sobre su estado de salud actual, nos informa que
        </div>
    </div>

    <div class="row">
        <div id="me-16" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la actualidad refiere
        </div>
    </div>

    <div class="row">
        <div id="me-17" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-3">
            En la <strong>exploración física</strong> encontramos un
        </div>
        <div id="me-18" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-2">
            con una talla de
        </div>
        <div id="me-19" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-2">
            m. y un peso de
        </div>
        <div id="me-20" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-1">
            kg.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            (índice de masa corporal
        </div>
        <div id="me-imc" class="col-xs-1" style="margin-left: -110px;"></div>
        <div class="col-xs-3">
            ), con una tensión arterial de
        </div>
        <div id="me-21" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-3">
            mmHg, con un pulso rítmico de
        </div>
        <div id="me-22" class="col-xs-1" style="margin-top: -7px; margin-left: -140px;"></div>
        <div class="col-xs-2">
            lpm.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Se aprecia Desarrollo muscular
        </div>
    </div>

    <div class="row">
        <div id="me-23" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Al explorar la coloración de piel y mucosas apreciamos
        </div>
    </div>

    <div class="row">
        <div id="me-24" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACION CABEZA Y CUELLO
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Dentadura
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            A la inspección encontramos una dentadura
        </div>
    </div>

    <div class="row">
        <div id="me-25" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Ojos
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración encontramos un aparato ocular
        </div>
    </div>

    <div class="row">
        <div id="me-26" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Orofaringe
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración se aprecia una orofaringe
        </div>
    </div>

    <div class="row">
        <div id="me-27" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Cuello
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración se observa una movilidad cervical
        </div>
    </div>

    <div class="row">
        <div id="me-28" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Otoscopia
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración apreciamos que la otoscopia es
        </div>
    </div>

    <div class="row">
        <div id="me-29" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            La cantidad de cerumen es
        </div>
    </div>

    <div class="row">
        <div id="me-30" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACION DEL TORAX
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12">
            A la inspección encontramos
        </div>
    </div>

    <div class="row">
        <div id="me-31" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            A la exploración cardiaca apreciamos
        </div>
    </div>

    <div class="row">
        <div id="me-32" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración pulmonar encontramos
        </div>
    </div>

    <div class="row">
        <div id="me-33" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACION DEL ABDOMEN
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12">
            En la exploración se aprecia un abdomen
        </div>
    </div>

    <div class="row">
        <div id="me-34" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACION DEL APARATO LOCOMOTOR
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Exploración: extremidades superiores
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración se observa
        </div>
    </div>

    <div class="row">
        <div id="me-35" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Exploración: extremidades inferiores
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración se pone de manifiesto
        </div>
    </div>

    <div class="row">
        <div id="me-36" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Exploración: columna - espalda - zona lumbar
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración se observa
        </div>
    </div>

    <div class="row">
        <div id="me-37" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACION DEL SISTEMA NERVIOSO
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12">
            En la exploración se observa
        </div>
    </div>

    <div class="row">
        <div id="me-38" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACION OSTEOMUSCULAR ESPECIFICA
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Columna
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración se pone de manifiesto que
        </div>
    </div>

    <div class="row">
        <div id="me-39" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Muñeca/mano
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En la exploración de muñeca y mano se observa
        </div>
    </div>

    <div class="row">
        <div id="me-40" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            OTRAS EXPLORACIONES
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Exploracion dermatológica
        </div>
    </div>

    <div class="row">
        <div id="me-41" class="col-xs-12"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            EXPLORACIONES COMPLEMENTARIAS
        </div>
    </div>

    <br />

    <div class="row">
        <div id="me-42" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Analítica de orina
        </div>
    </div>

    <div class="row">
        <div id="me-43" class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            Saturación de oxígeno capilar:
        </div>
        <div id="me-44" class="col-xs-1" style="margin-top: -7px; margin-left: -220px;"></div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            PRUEBAS COMPLEMENTARIAS
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Audiometría
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            En el estudio audiométrico se aprecia
        </div>
    </div>

    <div class="row">
        <div id="me-45" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Control visión
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Al realizar la prueba de Control Visión detectamos
        </div>
    </div>

    <div class="row">
        <div id="me-46" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Espirometria
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Como resultado de la prueba de espirometría podemos concluir que
        </div>
    </div>

    <div class="row">
        <div id="me-47" class="col-xs-12"></div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Electrocardiograma
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Como resultado del estudio electrocardiográfico, encontramos:
        </div>
    </div>

    <div class="row">
        <div id="me-48" class="col-xs-12"></div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            RESULTADO DE FUNCIÓN PULMONAR
        </div>
    </div>

    <br />

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 32px; padding: 8px;">
                &nbsp;
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 32px; padding: 8px;">
                Valor
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; height: 32px; padding: 8px;">
                %
            </div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 32px; padding: 8px;">
                FVC
            </div>
            <div id="me-49" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none;"></div>
            <div id="me-FVC" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 32px; padding: 8px;">100</div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 32px; padding: 8px;">
                FEV1
            </div>
            <div id="me-50" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none;"></div>
            <div id="me-FEV1" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 32px; padding: 8px;">100</div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 32px; padding: 8px;">
                RELACIÓN FEV1 / FVC
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 32px; padding: 8px;">&nbsp;</div>
            <div id="me-51" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none;"></div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 32px; padding: 8px;">
                FEF 25% - 75%
            </div>
            <div id="me-52" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none;"></div>
            <div id="me-FEF" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 32px; padding: 8px;">100</div>
        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            RESULTADO DE CONTROL VISIÓN
        </div>
    </div>

    <br />

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                &nbsp;
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                Derecho
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                Izquierdo
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                Binocular
            </div>
            <div class="col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; height: 34px; padding: 8px;">
                Examinado con lentes
            </div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 34px; padding: 8px;">
                Agudeza visual lejana
            </div>
            <div id="me-53" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-54" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-55" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-56" class="col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 34px;"></div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 34px; padding: 8px;">
                Agudeza visual cercana
            </div>
            <div id="me-57" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-58" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-59" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-60" class="col-xs-3" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 34px;"></div>
        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    
   <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Resultado de la prueba
        </div>
    </div>
    
    <br/>

    <div class="row">
        <div class="col-xs-12">
            Detectamos una visión cromática
        </div>
    </div>

    <div class="row">
        <div id="me-61" class="col-xs-12"></div>
    </div>
    
    <br/>

    <div class="row">
        <div class="col-xs-12">
            Apreciamos un control visión
        </div>
    </div>

    <div class="row">
        <div id="me-62" class="col-xs-12"></div>
    </div>
    
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            RESULTADO AUDIOMÉTRICO
        </div>
    </div>

    <br />

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-1" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                &nbsp;
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                Derecho
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; height: 34px; padding: 8px;">
                Izquierdo
            </div>
            <div class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; height: 34px; padding: 8px;">
                Global
            </div>
        </div>
    </div>

    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-1" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 34px; padding: 8px;">
                SAL
            </div>
            <div id="me-63" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-64" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-65" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 34px;"></div>
        </div>
    </div>
    
    <div clas="row">
        <div class="col-xs-12">
            <div class="col-xs-offset-2 col-xs-1" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; border-right: none; border-top: none; height: 34px; padding: 8px;">
                ELI
            </div>
            <div id="me-66" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div id="me-67" class="col-xs-2" style="border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-right: none; border-top: none; height: 34px;"></div>
            <div class="col-xs-2" style="background-color: #CCCCCC; border-style: solid; border-color: black; border-width: thin; font-weight: bold; font-size: 16px; text-align: center; border-top: none; height: 34px;"></div>
        </div>
    </div>
    
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    
    <div class="row">
        <div class="col-xs-12" style="font-weight: bold;">
            Resultado de la prueba
        </div>
    </div>
    
    <br/>

    <div class="row">
        <div id="me-68" class="col-xs-12"></div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            JUICIO CLÍNICO
        </div>
    </div>

    <br/>

    <div class="row">
        <div id="me-69" class="col-xs-12"></div>
    </div>
    
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            RECOMENDACIONES
        </div>
    </div>

    <br/>

    <div class="row">
        <div id="me-70" class="col-xs-12"></div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            GRADO DE APTITUD
        </div>
    </div>

    <br/>

    <div class="row">
        <div id="me-71" class="col-xs-2"></div>
    </div>
    
    <br/>

    <div class="row">
        <div class="col-xs-12">
            De acuerdo al presente informe de exploración y al informe de resultados analíticos, considerando las características conocidas del puesto de trabajo se ratifica esta aptitud por el Dr/a. @fullName (Nº Colegiado: @collegiateNumber)
        </div>        
    </div>
       
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; font-size: 16px;">
            CONSEJOS MÉDICOS
        </div>
    </div>

    <br/>

    <div class="row">
        <div id="me-72" class="col-xs-12"></div>
    </div>

</div>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="form-actions" style="text-align: right">
    <input id="btnPrint" value="Imprimir" class="btn btn-prevea btn" onclick="TemplateMedicalExamination.printMedicalExamination()" target="_blank" />&nbsp;
    <input id="btnValidate" value="Guardar" class="btn btn-prevea btn" onclick="TemplateMedicalExamination.saveMedicalExamination()" />
</div>      