@model RequestMedicalExaminationEmployee

@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<style>
    div {
        color: black;
        font-size: 10px;
        font-family: Arial
    }
</style>

<div class="row">
    <div class="col-xs-8">
        Dr/a. @Model.DoctorsMedicalExaminationEmployee.FirstOrDefault().Doctor.FirstName.ToUpper() &nbsp;@Model.DoctorsMedicalExaminationEmployee.FirstOrDefault().Doctor.LastName.ToUpper()
    </div>
    <div class="col-xs-4" style="text-align: right;">
        @DateTime.Now.ToLongDateString()
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        Nº Colegiado &nbsp;
    </div>
    <div class="col-xs-4" style="text-align: right;">
        Nº Historia: &nbsp;@Model.MedicalExamination.Enrollment
    </div>
</div>

<br />
<br />
<br />

@{
    var nameEmployee = string.Empty;
    if (!string.IsNullOrEmpty(Model.Employee.User.LastName))
    {
        nameEmployee += string.Format("{0}, ", Model.Employee.User.LastName.ToUpper());
    }
    if (!string.IsNullOrEmpty(Model.Employee.User.FirstName))
    {
        nameEmployee += Model.Employee.User.FirstName.ToUpper();
    }
}
<div class="row">
    <div class="col-xs-6">
        @nameEmployee
    </div>
    <div class="col-xs-6" style="text-align: left;">
        @Model.MedicalExamination.Enrollment
    </div>
</div>

@{
    var nameClinic = string.Empty;
    if (!string.IsNullOrEmpty(Model.Clinic.Address))
    {
        nameClinic += string.Format("{0}, ", Model.Clinic.Address.ToUpper());
    }
    if (!string.IsNullOrEmpty(Model.Clinic.Province))
    {
        nameClinic += Model.Clinic.Province.ToUpper();
    }
}

<div class="row">
    <div class="col-xs-6">
        @nameClinic
    </div>
    <div class="col-xs-6" style="text-align: left;">
        @Model.Employee.User.DNI
    </div>
</div>

<div class="row">
    <div class="col-xs-6" style="font-weight: bold;">
        @Model.Clinic.Name
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-6 col-xs-6" style="font-weight: bold;">
        @Model.Date.ToLongDateString()
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12">
        Se trata de un reconocimiento médico de Vigilancia de la Salud del tipo Periódico en el que se estudia, de forma específica, las posibles alteraciones que sobre su salud pueden producir los riesgos inherentes a su puesto de trabajo. Los resultados obtenidos se relacionan, exclusivamente, con dichos riesgos laborales. Pueden existir otras alteraciones en su salud de origen no laboral que no son estudiadas en este reconocimiento.
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-xs-12" style="font-weight: bold; font-size: 14px;">
        HISTORIA LABORAL
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12" style="font-weight: bold;">
        Puesto de trabajo actual
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Model.Employee.User.WorkStation
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12" style="font-weight: bold;">
        Tiempo de exposición a los Riesgos
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        Tiempo de exposición a los riesgos:
    </div>
    <div id="me-1" class="col-xs-1"></div>
    <div class="col-xs-1">
        H/S
    </div>
</div>

