@model Company

<script>
    DetailCompany.init("@Model.Id", @ViewBag.SelectTabId, "@ViewBag.Notification");
</script>

<style>

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #999999;
        height: 31px;
        padding: 6px;
    }

    .k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }
    
    #tabStripDetailCompany {
        border-width: 0;
    }

    #tabStripDetailCompany .k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
        font-weight: bold;
        font-size: 15px;
        padding: 0.8em;
    }
    
    #tabStripDetailCompany .k-panelbar .k-tabstrip-top .k-tabstrip-items .k-state-active, .k-tabstrip-top .k-tabstrip-items .k-state-active {
        border-bottom-width: 6px;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }     

    #tabStripDetailCompany .k-animation-container, .k-animation-container *, .k-animation-container ::after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget ::before {
        box-sizing: border-box;        
    }

    .k-multiselect-wrap {
        height: 31px;
    }

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #555555; 
    }

</style>

<div class="row" id="pageDetailCompany" style="margin: 8px">
    
    <span id="spanNotification" style="display: none;"></span>
   
    <div class="row">
        <H1 id="title">Gestión de Empresas</H1>
    </div><br/>
    
    <div id="navigation" class="row">
        <div class="col-sm-12">

            <!-- Breadcrumb 2 -->
            <ol class="breadcrumb bc-2">
                <li class="active">
                    <a id="company|companies" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                        <i class="icon-folder"></i>
                        Contratación
                    </a>
                </li>
                <li class="active">
                    <a onclick="DetailCompany.goToDetailCompany(this)" style="cursor: pointer;">
                        <strong>Detalle Empresa</strong>
                    </a>
                </li>
            </ol>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">           

            <div class="tile-stats tile-blue">                                      
                <div class="num">
                    @Model.Enrollment
                </div>                                
                <div class="row">
                    <div class="col-sm-10">
                        <h3>@Model.Name</h3> 
                    </div>
                    <div class="col-sm-12" style="text-align: right; margin-top: -10px;">
                        <a id="updateCompany" toggle="tooltip" title="Actualizar Empresa" onclick="DetailCompany.goToDetailCompany();" style="cursor: pointer; color: white;">
                            <i class="fa fa-rotate-left"></i>
                        </a>    
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <br/>
    
@if (ViewBag.Error != null)
{
    <div id="errorFromBack" class="alert alert-danger alert-dismissable" style="">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            @foreach (var error in ViewBag.Error)
            {
                <li>
                    @error
                </li>
            }
        </ul>
    </div>
}

    <div class="row">
        <div class="col-sm-12">

            <div id="tabStripDetailCompany"></div>

        </div>
    </div>

</div>