@model PaymentMethodViewModel

<script>
    PaymentMethodCompany.init(@Model.Id);
</script>

<div class="row" id="pagePaymentMethodCompany" style="width: 95%">

    <div class="col-sm-12">

        @using (Ajax.BeginForm("UpdatePaymentMethodCompany", "Companies", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "framePpal"
        }, new { id = "formPaymentMethodCompany" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row form-group">
                <label class="col-sm-4 control-label" style="">Forma de cobro</label>
                <label class="col-sm-4 control-label" style="">Modalidad de pago</label>
                <label class="col-sm-4 control-label" style="">Cobro reconocimientos médicos</label>
            </div>

            <div class="row form-group" style="margin-top: -10px;">
                <div class="col-sm-4">
                    @(Html.Kendo()
                          .MultiSelectFor(model => model.SplitPayment)
                          .Name("SplitPayment")
                          .Placeholder("Seleccionar los meses de pago ...")
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetSplitPayment", "Companies");
                              }).ServerFiltering(false);
                          })
                          .HtmlAttributes(new { id = "cmbSplitPayment", style = "width: 100%; border: 1px solid #ebebeb; border-radius: 3px;" }))
                </div>
                <div class="col-sm-4">
                    @(Html.Kendo()
                          .DropDownListFor(model => model.ModePaymentId)
                          .Name("ModePaymentId")
                          .OptionLabel("-- Seleccionar --")
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetModesPayment", "Companies");
                              }).ServerFiltering(false);
                          })
                          .HtmlAttributes(new { id = "cmbModePayment", style = "width: 100%;" }))                    
                </div>
                <div class="col-sm-4">
                    @(Html.Kendo()
                          .DropDownListFor(model => model.ModePaymentMedicalExaminationId)
                          .Name("ModePaymentMedicalExaminationId")
                          .OptionLabel("-- Seleccionar --")
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetModesPaymentMedicalExamination", "Companies");
                              }).ServerFiltering(false);
                          })
                          .HtmlAttributes(new { id = "cmbModePaymentMedicalExamination", style = "width: 100%;" }))                    
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-4 control-label" style="">Nombre de la Entidad</label>
                <label class="col-sm-4 control-label" style="">Número de cuenta</label>
            </div>

            <div class="row form-group" style="margin-top: -10px;">
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.EntityName, new { @id = "textBoxEntityName", @class = "form-control", style = "width:100%", placeholder = "Nombre de la Entidad" })
                </div>

                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.AccountNumber, new { @id = "textBoxAccountNumber", @class = "form-control", style = "width:100%", placeholder = "Número de cuenta" })
                </div>
            </div>         

            <br />

            <div class="form-actions">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.MonthsSplitPayment)

                <input type="submit" id="btnValidatePaymentMethodCompany" onclick="PaymentMethodCompany.onClickValidate()" value="Guardar" class="btn btn-prevea btn" />

            </div>
        }

    </div>
</div>
