@model ForeignPreventionService

<script>
    ForeignPreventionService.init(@Model.Id, @Model.Simulation.NumberEmployees);
</script>

<div class="row" id="pageForeignPreventionService" style="margin: 8px">
    
    <div class="row">
        <div class="col-sm-12">

            @using (Ajax.BeginForm("ForeignPreventionService", "Simulations", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "framePpal",
                OnSuccess = "ForeignPreventionService.onSuccessUpdate",
                OnFailure = "ForeignPreventionService.onFailureUpdate"
            }, new {id = "formForeignPreventionService" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row form-group">
                    <label class="col-sm-11 control-label" style="color: black; text-align: center; font-size: 16px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
                        IMPORTES POR UNIDAD TRABAJADOR
                    </label>
                </div>

                <div class="row form-group">
                    <label class="col-sm-4 control-label">Técnicas</label>
                    <label class="col-sm-4 control-label">Vigilancia de la Salud</label>
                    <label class="col-sm-4 control-label">Reconocimientos Médicos</label>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.AmountTecniques, new
                        {
                            id = "textAmountTecniques",
                            type = "nummeric",
                            title = "Técnicas (precio por unidad trabajador)",
                            min = "0",
                            value = "0",
                            style = "width:100%; height: 31px",
                            placeholder = "Técnicas (precio por unidad trabajador)"
                        })
                    </div>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.AmountHealthVigilance, new
                        {
                            id = "textAmountHealthVigilance",
                            type = "nummeric",
                            title = "Vigilancia de la Salud (precio por unidad trabajador)",
                            min = "0",
                            value = "0",
                            style = "width:100%; height: 31px",
                            placeholder = "Vigilancia de la Salud (precio por unidad trabajador)"
                        })
                    </div>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.AmountMedicalExamination, new
                        {
                            id = "textAmountMedicalExamination",
                            type = "nummeric",
                            title = "Reconocimientos Médicos (precio por unidad trabajador)",
                            min = "0",
                            value = "0",
                            style = "width:100%; height: 31px",
                            placeholder = "Reconocimientos Médicos (precio por unidad trabajador)"
                        })
                    </div>
                </div>

                <div class="row form-group">
                    <label id="lblAmountByEmployeeInTecniques" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center"> €</label>
                    <label id="lblAmountByEmployeeInHealthVigilance" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center"> €</label>
                    <label id="lblAmountByEmployeeInMedicalExamination" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center"> €</label>
                </div>

                <div class="row form-group">
                    <label id="lblPercentegeByEmployeeInTecniques" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center">%</label>
                    <label id="lblPercentegeByEmployeeInHealthVigilance" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center">%</label>
                    <label id="lblPercentegeByEmployeeInMedicalExamination" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center">%</label>
                </div>

                <div class="row form-group">
                    <label class="col-sm-12 control-label" style="color: black; text-align: center; font-size: 16px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">TOTALES</label>
                </div>

                <div class="row form-group">
                    <label id="lblTotalByEmployeeInTecniques" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center">€</label>
                    <label id="lblTotalByEmployeeInHealthVigilance" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center">€</label>
                    <label id="lblTotalByEmployeeInMedicalExamination" class="col-sm-4 control-label" style="margin-top: 10px; text-align: center">€</label>
                </div>

                <div class="row form-group">
                    <label class="col-sm-2 control-label" style="color: #00639e; text-align: center; font-size: 20px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">TOTAL CALCULADO</label>
                    <label id="lblTotal" class="col-sm-2 control-label" style="color: #00639e; text-align: center; font-size: 20px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">€</label>
                    
                    <label class="col-sm-1 control-label" style="color: #00639e; text-align: center; font-size: 20px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">TOTAL</label>

                    <div class="col-sm-3" style="margin-top: 20px;">
                        @Html.TextBoxFor(model => model.Total, new
                        {
                            id = "textTotal",
                            type = "nummeric",
                            title = "Total final",
                            min = "0",
                            value = "0",
                            style = "width:100%; height: 31px",
                            placeholder = "Total final"
                        })
                    </div>
                </div>

                <div class="row form-group">
                    <label id="lblPercentegeTotal" class="col-sm-offset-5 col-sm-3 control-label" style="margin-top: -20px; text-align: center">%</label>
                </div>

                <br/>

                <div>
                    @Html.HiddenFor(x => x.Id)

                    <input type="submit" id="btnSaveForeignPreventionService" value="Guardar" class="btn btn-prevea btn" />                         
                </div>

            }

        </div>
    </div>

</div>

<br />
