@model TrainingService
    
<style>
    .k-window-titlebar {
        height: 30px;
    }

    .k-window-content .k-content {
        position: static;
    }
</style>

<script>
    TrainingService.init(@Model.Id, @Model.Simulation.NumberEmployees);
</script>

<div class="row" id="pageTrainingService" style="margin: 8px">
    
    <div id="confirm"></div>

    <div class="row">
        <div class="col-sm-12">

            @using (Ajax.BeginForm("TrainingService", "Simulations", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "framePpal",
                OnSuccess = "TrainingService.onSuccessUpdate"
            }, new {id = "formTrainingService"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row form-group">
                    <label class="col-sm-4 control-label">Cursos</label>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="width: 100%">
                        <div id="gridTrainingCourseTrainingService" style="height: 40vh;"></div>
                    </div>
                </div>

                <br/>
                <br/>

                <div class="row form-group">
                    <label class="col-sm-4 control-label">Observaciones</label>
                    <label class="col-sm-4 control-label"></label>
                    <label class="col-sm-4 control-label"></label>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.Observations, new {@id = "textAreaObservationsTrainingService", @class = "form-control autogrow", style = "width:100%", placeholder = "Observaciones"})
                    </div>
                </div>

                <br/>

                <div>
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.IncludeInContractualDocument)

                    <input type="submit" id="btnValidateTrainingService" value="Guardar" class="btn btn-prevea btn"/>
                </div>
            }

        </div>
    </div>

</div>

<br />

