@model UserViewModel

<script>
    Profile.init(@Model.Id, @ViewBag.SelectTabId, "@ViewBag.Notification");
</script>

<style>
    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #999999;
        height: 31px;
        padding: 6px;
    }

    .k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }

    #tabStripDetailProfile {
        border-width: 0;
    }

        #tabStripDetailProfile .k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
            font-weight: bold;
            font-size: 15px;
            padding: 0.8em;
        }

        #tabStripDetailProfile .k-panelbar .k-tabstrip-top .k-tabstrip-items .k-state-active, .k-tabstrip-top .k-tabstrip-items .k-state-active {
            border-bottom-width: 6px;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }

        #tabStripDetailProfile .k-animation-container, .k-animation-container *, .k-animation-container ::after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget ::before {
            box-sizing: border-box;
        }

    .k-multiselect-wrap {
        height: 31px;
    }

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #555555;
    }
</style>

<div class="row" id="pageProfile" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Perfil</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-notifications" onclick="Profile.goToProfile()" style="cursor: pointer;">
                            <i class="fa fa-user"></i>
                            <strong>Perfil</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    
    @{
        var pathPhoto = "image_not_found.png";
        var name = "";
        if (Model != null)
        {
            if (File.Exists(string.Format("{0}/user_{1}.png", Server.MapPath("~/Images"), Model.Id)))
            {
                pathPhoto = string.Format("user_{0}.png", Model.Id);
            }
            name = string.Format("{0} {1}", Model.FirstName, Model.LastName);
        }
    }
    
    <div class="row">
        <div class="col-sm-12" style="text-align: right">
            <span id="spInitials" style="font-size: x-large; font-weight: bold; margin-right: 30px;">@Model.Initials</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: right">
            <span id="spId" style="font-weight: bold; margin-right: 50px;">@Model.Id</span>
        </div>
    </div>

    <div id="contentPartialView">
        
        <div class="profile-env">

            <header class="row">

                <div class="col-sm-1">
                    <a id="updatePhoto" toggle="tooltip" title="Actualizar Foto" onclick="Profile.goToChoosePhoto();" style="cursor: pointer;">
                        <i class="fa fa-rotate-left"></i>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="profile-picture">
                        <img id="photoProfile" src="~/Images/@pathPhoto" class="img-responsive img-circle"/>
                    </a>
                </div>

                <div class="col-sm-7">
                    <ul class="profile-info-sections">
                        <li>
                            <div class="profile-name">
                                <strong>
                                    <a href="#">@name</a>
                                </strong>
                                <span style="text-align: center"><a href="#">@Model.RoleDescription</a></span>
                            </div>
                        </li>

                        <li>
                            <div id="simulationsAssigned" class="profile-stat">
                                <h3 style="text-align: center">@ViewBag.SimulationsAssigned</h3>
                                <span><a href="#">Simulaciones asignadas</a></span>
                            </div>
                        </li>

                        <li>
                            <div id="companiesAssigned" class="profile-stat">
                                <h3 style="text-align: center">@ViewBag.CompaniesAssigned</h3>
                                <span><a href="#">Empresas asignadas</a></span>
                            </div>
                        </li>

                        <li>
                            <div class="profile-stat">
                                <h3 style="text-align: center">@ViewBag.UsersAssigned</h3>
                                <span><a href="#">Personal a su cargo</a></span>
                            </div>
                        </li>

                    </ul>

                </div>

            </header>
        </div>
        
        <br />
        <br />
        <br />
        
    @if (ViewBag.Error != null)
    {
        <div id="errorFromBack" class="alert alert-danger alert-dismissable" style="">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                @foreach (var error in ViewBag.Error)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    }
        
        <div class="row">
            <div class="col-sm-12">

                <div id="tabStripDetailProfile"></div>

            </div>
        </div>

    </div>

</div>


